* {
  scroll-behavior: smooth;
}
.search {
  display: flex;
  margin: 15px 0;
  flex-wrap: wrap;
}
.Trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.MuiInputBase-input {
  background-color: rgb(75, 71, 71) !important;
  color: rgb(5, 5, 5) !important;
  width: 100% !important;
}

.MuiTab-textColorPrimary {
  color: black !important;
}
.MuiButton-contained {
  margin-left: 10px !important;
}
